@model My_site.DAL.Entities.ComputerEntity

@{
    ViewData["Title"] = "Edit Computer";
}

<h1>Edit Computer</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="editComputerForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" id="computerId" value="@Model.Id" />
                <label asp-for="Name" class="control-label"></label>
                <input id="name" name="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="description" name="Description" class="form-control" value="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="price" name="Price" type="number" class="form-control" value="@Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPU" class="control-label"></label>
                <input id="gpu" name="GPU" class="form-control" value="@Model.GPU" />
                <span asp-validation-for="GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input id="rating" name="Rating" type="number" step="0.1" class="form-control" value="@Model.Rating" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Choose Image</label>
                <input id="imageFile" name="ImageFile" type="file" class="form-control" />
                <small class="form-text text-muted">The file should be located in the /content/images directory.</small>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input id="url" name="Url" class="form-control" value="@Model.Url" readonly  />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" id="editButton" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#imageFile').on('change', function () {
                var filePath = $(this).val();
                var fileName = filePath.split('\\').pop();
                var relativePath = `/content/images/${fileName}`;
                $('#url').val(relativePath);
            });
            $('#editButton').click(function () {
                var id = $('#computerId').val();

                var data = {
                    Id: id,
                    Name: $('#name').val(),
                    Description: $('#description').val(),
                    Price: parseInt($('#price').val(), 10),
                    GPU: $('#gpu').val(),
                    Rating: parseFloat($('#rating').val()),
                    Url: $('#url').val()
                };

                sendUpdateRequest(id, data);
            });

            function sendUpdateRequest(id, data) {
                $.ajax({
                    url: '/api/Computers/' + id,
                    type: 'PUT',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function () {
                        alert('Computer updated successfully.');
                        window.location.href = '/ComputersView/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        alert('Error updating computer.');
                    }
                });
            }
        });
    </script>
}

